::ng-deep body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin: 2% 1%;
    padding: .5em;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px -1px rgba(255, 255, 255, 0.55);
}

li:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.swatch {
    padding: 8% 4%;
}

li img
{
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

li a{
    color: inherit;
    text-decoration: none;
    display: block;
}

h1
{    
    color: #f8f9fa!important;
    font-family: "Montserrat", sans-serif !important;
    text-align: center;
}
