::ng-deep body{
    margin: 5% 0% !important;
    color: rgb(103,62,71) !important;
    font-weight: bold;
    background: linear-gradient(135deg, #e83a2524 1.2em, rgba(232, 58, 37, 0) 1.2em) 0 4em, linear-gradient(-135deg, #e83a2524 1.2em, rgba(232, 58, 37, 0) 1.2em) 0 4em, radial-gradient(circle at 7.16em 7.4em, #e83a2526 1.02em, rgba(232, 58, 37, 0) 1.044em) 0 -4em, radial-gradient(circle at 0.84em 7.4em, #e83a2526 1.02em, rgba(232, 58, 37, 0) 1.044em) 0 -4em, linear-gradient(135deg, #98cc963d 1.2em, rgba(152, 204, 150, 0) 1.2em) 4em 0, linear-gradient(-135deg, #98cc9640 1.2em, rgba(152, 204, 150, 0) 1.2em) 4em 0, radial-gradient(circle at 7.16em 7.4em, #98cc963d 1.02em, rgba(152, 204, 150, 0) 1.044em) 4em 0, radial-gradient(circle at 0.84em 7.4em, #98cc9640 1.02em, rgba(152, 204, 150, 0) 1.044em) 4em 0 !important;
    background-size: 8em 8em  !important;
    background-color: #FFE9A3 !important;
    background-repeat: repeat;
    display: block !important;
    overflow: hidden;
}

